
  h1 {
    border: 2px solid ;
    border-radius: 4px;
    border-width: 1px;
    outline-style: solid;
    outline-color: rgba(82, 62, 255, 0.781);
    font-family: "Helvetica";
    display:inline;
    color: rgb(0, 0, 0);
    padding:5px;
  
  }

 p{
    margin: 5;
    text-shadow: 2px 2px 5px rgba(31, 53, 255, 0.418);
  }


  a {
    margin:5;
    color:rgb(0, 0, 0);
    border-radius: 2px;
    border-width: 1px;
    outline-style: solid;
    outline-color: rgba(82, 62, 255, 0.781);
    padding:10px;
    margin-right: 5px;
  }

  /* img{
    
  } */
