
  h1 {
    border: 2px solid ;
    border-radius: 4px;
    border-width: 1px;
    outline-style: solid;
    outline-color: rgba(82, 62, 255, 0.781);
    font-family: "Helvetica";
    display:inline;
    color: rgb(0, 0, 0);
    background-color: aliceblue;
    padding:5px;
  
  }

 p{
    margin: 5;
    color: white;
  }


  a {
    color:rgb(0, 0, 0);
    border-radius: 2px;
    border-width: 1px;
    outline-style: solid;
    outline-color: rgba(82, 62, 255, 0.781);
    padding:10px;
    margin-right: 5px;
    background-color: aliceblue;
    margin-left: 230px;
  }

  button{
    margin:5;
    color:rgb(0, 0, 0);
    border-radius: 2px;
    border-width: 1px;
    outline-style: solid;
    outline-color: rgba(82, 62, 255, 0.781);
    padding:10px;
    margin-right: 5px;
    margin-top:30px;

  }

  .spacer {
    aspect-ratio: 960/540;
    width: 100%;

    background-repeat:no-repeat;
    background-position: center;
    background-size: cover;
  }

  .layer1{
    background-image: url("./layered-waves-haikei.svg")
  }

  /* img{
    
  } */
